@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Nunito+Sans:opsz@6..12&display=swap');


* {
  font-family: 'Nunito Sans', sans-serif; 
    margin: 0;
}


body{
  scroll-behavior: smooth;
}

hr {
    color: black;
}
.btn_one {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 500;
    position: absolute;
    left: 10px;
    line-height: 60px;
}

.btn_two {
    color: rgb(0, 0, 0);
    position: absolute;
    left: 215px;
    line-height: 30px;
    opacity: 0;
}

#heading{
  box-shadow: 2px 2px 3px rgba(0,0,0,0.5);

}

.navbar {
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 15px;
    background-color: rgb(0, 0, 0);
    color: #fff;
  }
  
  .nav-links {
    width: 80%;
    display: flex;
    justify-content: right;
  }
  .nav-links a {
    color: #fff;
  }
  
  .logo-img img{
    height: 80px;
    width: 80px;
    margin: 10px 20px 0 0;
  }

  .logo-name {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .logo-desc {
    color: red;
    display: block;
  }

    .logo {
    font-size: 22px;
    
  }
  
  .menu {
    display: flex;
    font-size: 18px;
    height: 10px;
    text-align: center;
    text-decoration: none;
  }
  .menu a{
    text-align: center;
    text-decoration: none;
    color: white;
  }
  .menu li:hover {
    /* background-color: #4c9e9e; */
    font-size: 18.5px;
    border-radius: 5px;
    transition: 0.25s ease;
    color: white;
  }
  
  .menu li {
    padding: 2px 15px;
  }
  
 
  .services {
    position: relative; 
  }
  
  .dropdown {
    background-color: rgb(226, 241, 56);
    padding: 1em 0;
    position: absolute; 
    display: none;
    border-radius: 8px;
    top: 35px;
  }
  
  .dropdown li + li {
    margin-top: 10px;
  }
  
  .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
  }
  
  .dropdown li:hover {
    /* background-color: #4c9e9e; */
  }
  
  .services:hover .dropdown {
    display: block;
  }
  .mySlides {display:none;}s
.brand-name {
    color: red;
    font-size: 55px;
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.brand-name-copy {
  color: rgb(255, 255, 255);
  font-size: 45px;
  margin-top: 20px;
  margin-bottom: 0;
  position: absolute;
  top: 15%;
  left: 4%;
  text-underline-offset: 0.3em;
  text-decoration: underline;
}

.brand-motto {
  font-size:15px;
   font-family:Georgia, 'Times New Roman', Times, serif;
   text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 0;
    position: absolute;
    top: 33%;
    left: 6%;
}
.brand-desc {
    margin-top: 30px;
    margin-bottom: 30px;
    position: absolute;
    color: white;
  top: 35%;
  left: 4%;
}
.learn{
  padding: 10px;
  width: 20%;
  background-color: blue;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  font-family:;
}
.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.pre-btn {
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
}
.btn1, .btn2 {
    color: rgb(255, 255, 255);
    font-size: 25px;
    background-color: rgb(38, 90, 231);
    border: 0px solid black;
    border-radius: 10px;
    height: 3rem;
    width: 12rem;
    cursor: pointer;
    margin-left: 5px;
    transition: all 0.5s;
    
}
.menu{
  list-style: none;
  text-decoration: none;
}
.menu li{
  text-decoration: none;
}
.btn1:hover, .btn2:hover {
    font-size: 27px;
}

.about-header {
    margin-top: 150px;
    text-align: center;
    text-decoration: underline black;
}

.about-desc{
    text-align: center;
}